.content{
    padding-top: 5vh;
    margin: 0 auto;
    max-width: 60vw;
}

@media (max-width: 1366px) {
    .content{
        max-width: 75vw;
    }
}

.content h2{
    display: inline-block;
    font-size: 32px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.content hr{
    border-color: #F04D4E;
    width: 65px;
}
#experience{
    margin-left: 50px;
}
#projects{
    margin-left: 25px;
}
#getintouch{
    margin-left: 60px;
}
