html{
  font-family: 'Raleway', sans-serif;
}
body{
  padding: 0;
  margin: 0;
}
.button{
  border: 1px solid whitesmoke;
  border-radius: 290486px;
  color: whitesmoke;
  padding: .35em 1.5em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

